{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <main class="container">
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-4 fst-italic">Welcome on the blog !</h1>
                <p class="lead my-3">This page contains multiple articles available to read. You can also access the admin view to be have more options available. </p>
            </div>
        </div>

        <div class="row mb-2">

            {% for post in posts %}
                <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
{#
                            <strong class="d-inline-block mb-2 text-primary">{{ post.category }}</strong>
#}
                            <h3 class="mb-0">{{ post.name }}</h3>
                            <div class="mb-1 text-muted">{{ post.date | date }}</div>
                            <p class="card-text mb-auto">{{ post.intro }}</p>
                            <a href="{{ path('app_post_showPost', {id: post.id}) }}" class="stretched-link">Continue reading</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

    </main>

    <footer class="blog-footer">
        <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a
                    href="https://twitter.com/mdo">@mdo</a>.</p>
        <p>
            <a href="#">Back to top</a>
        </p>
    </footer>



{% endblock %}
